
/* Gallery Section */

#gallery{
    padding-top: 60px;
    background-color: #006a71;
}

.project-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    color: #c3ce32;
    padding: 20px 0;
}


.project-conatiner-custom{
    max-width: 60%;
}

.row{
    margin: 40px auto;
}

.project-image-custom{
    width: 100px;
    text-align: center;
    margin:25px 0;
}

.project-subtitle{
    color: #c3ce32;
    text-align: left;
}

.project-description{
    color: white;
    text-align: left;
    line-height: 2;
}
.profarming-custom{
    width:200px;
}


@media(max-width:574px){

    .project-subtitle{
        color: #c3ce32;
        text-align: center;
    }
    
    .project-description{
        color: white;
        text-align: center;
        line-height: 2;
    }
    

}

.hr-project{
    width: 12%;
}
