
/* Tag classes */

body{
    text-align:center;
    font-family: 'Merriweather', serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    color: #c3ce32;
    padding: 20px 0;
    
}

#loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears above other content */
}

/* Loading animation */
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #c3ce32;
    border-bottom: 5px solid #c3ce32;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* Navbar Section */
.navbar-custom{
    background-color: #ffa500;
}

.navbar-light{
    font-weight: bold;
    color: #006a71;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}





/* Home Section */

.home-container{
    background-image: url(../images/adarsh-ganpati-1-min.jpg);
    /* background-size: 100vb 100vh; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.home-container-inside{
    padding-top: 56px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Use rgba to set background color with opacity */
}






/* Gallery Section */
.gallery-container{
    background-image: url(../images/ganpati-2-min.jpg);
    /* background-size: 100vb 100vh; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.gallery-container-inside{
    padding-top: 56px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);  /* Use rgba to set background color with opacity */
}

.carousel {
    width: 100%;
    /* background-color: #006a71; */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
  
.carousel-item {
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

:root {
    --max-height-above-vh: 200px;
}

.gallery-image {
    max-width: 100%;
    max-height: calc(100vh - var(--max-height-above-vh));
    display: block;
    margin: auto auto; /* Center horizontally */
}

/* Styles for small screens */
@media screen and (max-width: 767px) {
    .gallery-image {
        width: 100%;
        height: calc(100vh - var(--max-height-above-vh));
        display: block;
        margin: auto auto; /* Center horizontally */
    }
}





/* Testimonials Section */
.testimonials-container{
    background-image: url(../images/ganpati-3-min.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.testimonials-container-inside{
    padding-top: 56px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);  /* Use rgba to set background color with opacity */

}





/* Contact Us Section */
.contactus-container{
    background-image: url(../images/ganpati-4-min.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.contactus-container-inside{
    padding-top: 56px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);  /* Use rgba to set background color with opacity */

}





/* Donations Section */
.donations-container{
    background-image: url(../images/ganpati-5-min.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.donations-container-inside{
    padding-top: 56px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);  /* Use rgba to set background color with opacity */

}





/* Footer Section */
#footer {
    background-color: #c3ce32;
}

.tag-line{
    padding:30px 0 0px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    color: #006a71;
    font-weight: bold;
}

.contact-icon-custom{
    color: #006a71;
    font-size: 2rem;
    margin: 0px 20px;
}

.footer-custom{
    padding: 5px 0 10px;
    margin: 0;
}


