/* Contact us Section */

#contactus{
    background-color: #ffffdd;
    padding-top: 60px;
}

.hobby-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    color: #006a71;
    padding: 20px 0;
}

.hobby-custom{
    padding: 20px 0;
}

.hobby-container-custom{
    max-width: 60%;
}

.radio-custom{
    border: 1px solid #006a71;
    border-radius:100%; 
    background: #006a71;
    display: inline;
}

.hobby-description{
    display: none;
    background-color: #c3ce32;
    border-radius: 20px;
    padding: 20px;
    margin: 10px auto;
}

.hobby-image{
    width: 150px;
    background-color: #c3ce32;
}

.cooking-image{
    width:100px;
}

.hobby-subtitle{
        color: #006a71;
        font-weight: bold;
}
