/* Grey dots page seperator */
.hr-class-gray {
    border: none;
    border-top: dotted 12px gray;
    width: 7%;
    margin-bottom: 0;
    padding: 15px 0;
}
/* White dots page seperator */
.hr-class-white {
    border: none;
    border-top: dotted 12px white;
    width: 7%;
    margin-bottom: 0;
    padding: 15px 0;
}


/* Scroll to sections smoothly */
html {
    scroll-behavior: smooth;
}


/* Body */
body{
    text-align:center;
    font-family: 'Merriweather', serif;
    margin: 0;
}

.container-fluid{
    padding: 0;
}

/* Nav bar */
.navbar-custom{
    background-color: #ffbf00;
    position: sticky;
    top: 0;
    z-index: 100;
    max-height: 60px;
}

.navbar-light{
    font-weight: bold;
    color: #006a71;
}









