/* Testimonials Section */

#testimonials{
    background-color: #006a71;
    padding-top: 60px;
}

.register-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    color: #c3ce32;
    padding: 30px 0 20px;
}

.google-form-custom{
    background-color: #006a71;
    padding: 10px 0;
}



.carousel {
    width: 100%;
    border: solid 5px #ffa500;
    /* background-color: #006a71; */
    border-radius: 10px;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
  
.carousel-item {
    width: 100%;
    border-radius: 5px;
    max-height: 700px;
    overflow: hidden;
}

.testimonial-image {
    width: 100%;
    max-height: 500px;
    display: block;
    margin: auto auto; /* Center horizontally */
}

/* Styles for small screens */
@media screen and (max-width: 767px) {
    .testimonial-image {
        width: 100%;
        max-height: 500px;
        display: block;
        margin: auto auto; /* Center horizontally */
    }
}

/* styles.css */
.flex-container {
    display: flex; /* This makes the container a flex container */
    justify-content: space-between; /* Distribute items along the main axis with space between them */
    align-items: center; /* Center items along the cross axis */
    padding: 20px;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
}

.flex-item {
    /* flex: 1; Distribute available space equally among items */
    padding: 10px;
}

.item-1 {
    flex: 2; /* Takes up 2 times the space of other items */
}

.item-2 {
    flex: 1; /* Takes up 1 times the space of other items */
}

@media (max-width: 768px) {
    .flex-container {
      flex-direction: column;
      align-items: center;
    }
}


.video-custom{
    border: solid 5px #c3ce32 ;
    border-radius: 5%;
    max-width: 300px;
    margin: 10px auto 10px;
    display: block;
}

.home-video-title{
    font-family: 'Montserrat', sans-serif;
    color: #006a71;
    padding: 0;
    max-width: 50%;
    font-weight: bold;
    margin: 0 auto;
}


.home-container-custom{
    padding: 20px 0px;
    margin: 0 0;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.home-heading-custom{
    margin:10px auto 0px auto ;
    font-family: 'Yatra One', cursive;
    font-size: 6rem;
    color: #ff8400;
    font-weight: 100;
}

